
body{
    display: flex;
     justify-content: center;
     align-items: center;
}

div {
     width: 500px ;
     background-color: yellow;
     padding: 50px;
     /* border: 5px gray;  */
}
img {
    width: 500px;
    }

    .class1 {
        font-size: 25px; 
        margin: 50px;
        color: red;
      }  